/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn::after{
  content: "";
  display: block;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
  background-color: #20ffaf;
}

.btn:hover::after{
  top: -2px;
  left: -2px;
}

.btn-0{
  background-color: #20ffaf;
}
.btn-0:hover{
  @apply bg-green-500;
}